<div>
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="toolbar-container">
      <span class="title">
        {{title}}
      </span>
      <app-language-selector class="float-right"></app-language-selector>
    </div>
  </mat-toolbar>

  <div class="app-container">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <div class="menu-div">
            <app-menu (nodeSelected)="nodeSelected($event)" (yearChanged)="yearChanged($event)"></app-menu>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="side-nav-content">
        <app-holiday-list [selectedHierarchy]="selectedHierarchy" [selectedYear]="selectedYear"></app-holiday-list>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>