// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// import our custom theme
@import "./theme/theme.scss";

// import custom component themes
@import "./theme/custom-component-themes.scss";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theming-material-components-theme); // ? changed
@include custom-components-theme($theming-material-components-theme); // ? changed

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.dark-theme` will be affected by this alternate dark theme instead of the default theme.

.dark-theme {
  @include angular-material-color($dark-theme);
}

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Philosopher, Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-content {
  font-size: 16px;
}

body,
.mat-sidenav,
.mat-side-nav-content {
  background: $backColor;
}

.full-width {
  width: 100%;
}

.error {
  color: $derECoachRed
}

.group-error {
  font-size: 75%;
}

.float-right {
  float: right;
}