<div class="container">
  <mat-card>
    <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    <mat-card-content fxLayout="row">
      <!-- <mat-card-title translate>Hello world !</mat-card-title> -->
      <!-- <mat-card-subtitle>

        <q [hidden]="isLoading">{{quote}}</q>
      </mat-card-subtitle> -->
      <div fxFlex="30">
        <app-hierarchy-tree [hierarchyTree]="hierarchyTree" (nodeSelected)="hierarchySelected($event)"></app-hierarchy-tree>
      </div>
      <div fxFlex>
        <app-holiday-list [holidays]="holidays"></app-holiday-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
